@import 'reset.css';

body {
  background-color: rgb(22, 22, 63);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  perspective: 300px;
  width: 440px;
  background-color: rgba(36, 36, 92, 0.651);
  padding: 20px;
  border-radius: 10px;
}

.top-container {
  font-size: 16px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-container label {
  font-size: 25px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.top-container select {
  border-radius: 5px;
  padding: 5px 10px;
}

.mid-container {
  display: flex;
  /* flex-direction: column; */
  color: #fff;
  margin: 10px;
}

.mid-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-left: 15px;
}

.mid-container li span {
  margin-left: 4px;
}

.seat {
  background-color: #fff;
  width: 16px;
  height: 16px;
  margin: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(255, 255, 255, 0.24);
}

.seat.selected {
  background-color: aqua;
}
.seat.occupied {
  background-color: #fff;
}

.screen {
  width: 250px;
  height: 100px;
  background-color: #fff;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transform: rotateX(-50deg);
}

.seat-container {
  margin-bottom: 30px;
}

.seat-container .row {
  display: flex;
}

.row :nth-child(2) {
  margin-right: 20px;
}

.row :nth-last-child(2) {
  margin-left: 20px;
}

.text {
  margin: 10px;
}

.count {
  color: aqua;
}

.total {
  color: aqua;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btn {
  flex: 0 0 45%;
  margin: 5px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px 7px;
}

.btn:active {
  background-color: rgba(0, 255, 255, 0.37);
  color: white;
}
